.shoping-cart {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.shoping-icon {
    width: 3em;
    height: 3em;
}

.item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    color: #00cc66;
}
