/**{
	box-sizing: border-box;
}*/
body {
  padding: 2em 0em;
  margin: 0;

  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Comfortaa', cursive;
}

a{
	text-decoration: none;
	color: black;
}


